@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ff9642; 
    
}
header{
    height: 100vh;
}
.home_header{
    background: linear-gradient(to right, #00000011, #0000000a),  url(images/header_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    background-color: #0000007c;
}
.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
}
.navbar-brand, .nav-link{
    font-size: 1.2rem;
    font-weight: 600;
    
}
.nav-link{
    color: #fff !important;
}
.active > a{
    color: #ff9642 !important;
}
.active > span {
    width: 100% !important;
}
.nav-item:hover {
    color: #ff9642 !important;
}
.nav-item:hover > span{
    width: 100%;
    right: 0;
}
.nav-item{
    margin: 0 1rem;
    transition: 0.4s;
    position: relative;
    
}
.nav-item > span{
    position: absolute;
    height: 2px;
    background: #ff9642;
    left: 0 ;
    transition: 0.3s ease-in-out ;
    width: 0;
    display: block;
}
.navbar-brand span{
    color: #ff9642;
}
.promo-title{
    font-family: 'Sansita Swashed', cursive;
    color: #fff;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-top: 2rem !important;
    font-size: 3rem;
}
.promo-title > span{
    color: #ff9642;
    margin-left: -10px;
}
.centering{
    margin-top: 25% !important;
    margin: auto;
    width: 270px;
}
.enter{
    color: #ff9642 !important;
    padding: 0.75rem 6rem;
    margin: auto;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #00000000;
    border: 2px solid #ff9642;
    border-radius: 50px;
    text-decoration: none !important;
}

.enter > .fa{
    transition: all 0.4s ease-in-out;
}
.enter:hover > .fa{
    transform: translate(20px, 0);
}


/* library */
.library{ 
    background: linear-gradient(to right, #00000049, #00000033), url(images/library_background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    height: 100%;
}
.btn-orange{
    border:  2px solid #ff9642 !important;
    border-radius: 4px;
    padding: 0.60rem 0.7rem ;
    background-color: #fff;
    outline: none !important;
    color: #ff9642;
}

.card-deck{
    padding-bottom: 10px;
}
.card{
    text-align: left;
   

}
.card a{
   color: #ff9642 !important;
   text-decoration: none;
}
.books_name{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #191919;
    font-family: 'Nunito', sans-serif;
}
.modal-footer a{
    text-decoration: none;
    color: #ff9642 !important;
}
.li {
    background-color: #ffffff00 !important;
    border: none !important;
    padding: 0;
}

.name_modal{
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

/* tashil rang #04B704 */



/* about */
.about{ 
    background: linear-gradient(to right, #000000b2, #00000094), url(images/about.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    
    
}
.about-title, .adress-title {
    color: #ff9642;
}
.about-text, .adress-text{
    color: #fff;
    font-size: 18px;
}

.logo-anim{
    margin:  auto ;
    margin-top: 5rem !important;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;

}
@keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  

/* contact */
.contact{
    background: linear-gradient(to right, #000000b2, #00000094), url(images/about.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    
    
}
.contact-us a{
    font-size: 25px;
    margin-bottom: 2rem;
    color: #fff !important;
}
@media (max-width: 600px) {
    .about-title, .adress-title{
        font-size: 30px !important;
    }
    .centering{
        margin-top: 80% !important;
    }
    .card-deck{
        flex-wrap: wrap !important;
    }

    
}
@media (max-width: 900px) {
    .card-deck{
        flex-wrap: wrap !important;
        flex-direction: column !important;
    }
    .about{
        height: 100%;
        padding-bottom: 2rem;
    }
}


